<h1>Add a Todo</h1>

<small>
  Make sure to enter the priority and any tags in the same format as the file: <br />
  <em>3 Add a new form #ruby #sinatra</em>
</small>

<form name="input" action="add" method="post">
TODO:
<input type="text" name="todo" />
<input type="submit" value="Submit" />
</form>
