      <form name="input" action="add" method="post">
        <label for="todo">TODO item:</label>
        <input type="text" id="todo" name="todo" />
        <input type="submit" value="Submit" />
      </form>
