    <% if @todos.empty? %>
      <p>No todos found.</p>
    <% else %>
      <ul data-role="listview" data-filter="true">
        <% @todos.each do |todo| %>
          <li>
            <a href="/edit/<%= todo.line_number %>" data-ajax="false">
              <h3><%= todo.content %></h3>

              <span class="ui-li-count">Priority: <%= todo.priority %></span>

              <p>Tagged: <% todo.tags.each do |tag| %>
                  <%= tag %>
                <% end %></p>
            </a>
          </li>
        <% end %>
      </ul>
    <% end %>  
