    <% if @todos.empty? %>
      <p>No todos found.</p>
    <% else %>
      <ul data-role="listview">
        <% @todos.each do |todo| %>
          <li>
            <a href="/edit/<%= todo.line_number %>" data-ajax="false">
              <h3><%= todo.content %></h3>

              <p>Priority: <%= todo.priority %></p>

              <p>Tags: 
                <% todo.tags.each do |tag| %>
                  <%= tag %>
                <% end %>
              </p>
            </a>
          </li>
        <% end %>
      </ul>
    <% end %>  
