    <% if @todos.empty? %>
      <p>No todos found.</p>
    <% else %>
      <ul data-role="listview" data-filter="true">
        <% @todos.each do |todo| %>
          <li>
            <a href="<%= edit_url(todo) %>" data-ajax="false">
              <h3><%= todo.content %></h3>

              <span class="ui-li-count">Priority: <%= todo.priority %></span>

              <%= tag_list(todo) %>
            </a>
          </li>
        <% end %>
      </ul>
    <% end %>  
