<h1>Todos</h1>

<% if @todos.empty? %>
<p>No todos found.</p>
<% else %>
<ul>
<% @todos.each do |todo| %>
<li>
  <%= link_to_priority todo.priority %>
  <%= todo.content %>
  <% todo.tags.each do |tag| %>
  <%= link_to_tag tag %>
  <% end %>
</li>
<% end %>
</ul>
<% end %>  
