<html manifest="/cache.manifest">
  <meta charset="utf-8">
  <title><%= h(@page_title) %></title>
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/zepto.min.js"></script>
  <script type="text/javascript" src="/app.js"></script>
</head>

<body>
<div id="container">
    <header>
      <nav>
        <a href="/">Active</a>
        <a href="/all">All</a>
        <% all_priorities.each do |priority| %>
          <%= link_to_priority(priority) %>
        <% end %>
        |
        <a class="add" href="/add" data-offline="online-only">Add</a>
        <a class="reload" href="#" onclick="forceReload();">Reload</a>
      </nav>
    </header>
    <div id="main" role="main">
      <%= yield %>
    </div>

    <footer>
    </footer>
</body>
</html>
