<!DOCTYPE html> 
<html> 
	<head> 
	<title>Todos <%= h(@page_title) %></title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.js"></script>
</head> 

<body> 
  <div data-role="page" id="main">
    <div data-role="header">
      <h1>Todos - <%= h(@page_title) %></h1>
      <a href="#new" data-icon="add" class="ui-btn-right">New</a>
    </div>

    <div data-role="content">
      <%= yield %>
    </div>
    
    <div data-role="footer">
    </div>

  </div>

  <div data-role="page" id="new">
    <div data-role="header"><h1>Add a Todo</h1></div>

    <div data-role="content">
      <form name="input" action="add" method="post">
        <label for="todo">TODO item:</label>
        <input type="text" id="todo" name="todo" />
        <input type="submit" value="Submit" />
      </form>
    </div>

  </div>
</body>
</html
