<html manifest="/cache.manifest">
  <meta charset="utf-8">
  <title>Emacs Todos <%= h(@page_title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
<div id="container">
    <header>
      <nav>
        <% all_priorities.each do |priority| %>
          <%= link_to_priority(priority) %>
        <% end %>
      </nav>
    </header>
    <div id="main" role="main">
      <%= yield %>
    </div>

    <footer>
    </footer>
</body>
</html>
