<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Emacs Todos</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="author" content="http://www.littlestreamsoftware.com" />
	<link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>

<div id="menu-top">
	<ul>
		<li><a href="#" title="Downloads"><span>Downloads</span></a></li>
		<li><a href="#" title="Gallery"><span>Gallery</span></a></li>
		<li><a href="#" title="Links"><span>Links</span></a></li>
		<li><a href="#" title="Links"><span>Changed</span></a></li>
		<li><a href="#" title="Links"><span>Links</span></a></li>
        <li><a href="#" title="Links"><span>Links</span></a></li>
		<li><a href="#" title="Links"><span>Links</span></a></li>
		<li><a href="#" title="Links"><span>Links</span></a></li>
	</ul>
</div><!--menu-top-->

<!-- mejobloggs: sorry about all these wrappers. It is a lot of structural markup .
		If you know how to do this with less structural markup, contact my throught my
		OWD user page: http://www.openwebdesign.org/userinfo.phtml?user=mejobloggs -->
<div id="wrapper-header">
<div id="header">
<div id="wrapper-header2">
<div id="wrapper-header3">
	<h1>&nbsp;</h1>
</div><!--wrapper-header3-->
</div><!--wrapper-header2-->
</div><!--header-->
</div><!--wrapper-header-->

<div id="wrapper-content">
	<div id="wrapper-menu-page">
	<div id="menu-page">
		<h3>Priorities</h3>
		<ul>
          <% all_priorities.each do |priority| %>
          <li><%= link_to_priority priority %></li>
          <% end %>
		</ul>
		
		<h3>Tags</h3>
		<ul>
          <% all_tags.each do |tag| %>
          <li><%= link_to_tag tag %></li>
          <% end %>
		</ul>
	</div><!--menu-page-->
	</div><!--wrapper-menu-page-->
	
	<div id="content">
      <%= yield %>
  </div><!--content-->
</div><!--wrapper-content-->

<div id="wrapper-footer">
  Developed and Copyright <a href="http://www.littlestreamsoftware.com">Eric Davis, Little Stream Software</a>.  Design by <a href="http://www.opensourcetemplates.org/templates/preview/1247149577/">Studio7designs.com</a>
</div><!--wrapper-footer-->

</body>
</html>
