nav { text-align: center; }
#main { width: 100%; }
.todo-list { list-style: none; padding-left: 0;}
.todo-item:hover { background: yellow; }
.todo-item .priority { padding: 0 2px; }
.edit { float: right; }
